{% extends 'price/layout.html.twig' %}

{% block title %}Price management{% endblock %}

{% block content %}
    <div class="nk-tb-list">
        <div class="nk-tb-item nk-tb-head">
            <div class="nk-tb-col nk-tb-col-check">
                <div class="custom-control custom-control-sm custom-checkbox notext">
                    <input type="checkbox" class="custom-control-input" id="pid">
                    <label class="custom-control-label" for="pid"></label>
                </div>
            </div>
            <div class="nk-tb-col"><span>Name</span></div>
            <div class="nk-tb-col"><span>Size</span></div>
            <div class="nk-tb-col"><span>Price</span></div>
            <div class="nk-tb-col nk-tb-col-tools">
            </div>
        </div><!-- .nk-tb-item -->
        {% for price in prices %}
        <div class="nk-tb-item">
            <div class="nk-tb-col nk-tb-col-check">
                <div class="custom-control custom-control-sm custom-checkbox notext">
                    <input type="checkbox" class="custom-control-input" id="pid1">
                    <label class="custom-control-label" for="pid1"></label>
                </div>
            </div>
            <div class="nk-tb-col">
                <span class="tb-product">
                    <img src="./images/product/a.png" alt="" class="thumb">
                    <span class="title">{{ price.getProduct().getName() }}</span>
                </span>
            </div>
            <div class="nk-tb-col">
                <span class="tb-lead">{{ price.getSize().getName() }}</span>
            </div><div class="nk-tb-col">
                <span class="tb-lead">{{ price.getPrice() }}</span>
            </div>
            <div class="nk-tb-col nk-tb-col-tools">
                <ul class="nk-tb-actions gx-1 my-n1">
                    <li class="mr-n1">
                        <div class="dropdown">
                            <a href="#" class="dropdown-toggle btn btn-icon btn-trigger" data-toggle="dropdown"><em class="icon ni ni-more-h"></em></a>
                            <div class="dropdown-menu dropdown-menu-right">
                                <ul class="link-list-opt no-bdr">
                                        <li><a href="{{ path('price_edit', {id: price.getProduct().getId(), idPrice: price.id}) }}"><em class="icon ni ni-edit"></em><span>Update price</span></a></li>
                                        <li><a href="{{ path('price_delete', {id: price.getProduct().getId(), idPrice: price.id}) }}"><em class="icon ni ni-delete"></em><span>Delete price</span></a></li>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </li>
                </ul>
            </div>
        </div><!-- .nk-tb-item -->
        {% endfor %}
    </div><!-- .nk-tb-list -->
    <div class="pagination">
        {{ knp_pagination_render(prices) }}
    </div>
{% endblock %}
