{% extends 'price/layout.html.twig' %}

{% block title %}Price management{% endblock %}

{% block content %}
    {{ form_start(form, {'attr': {'novalidate': 'novalidate'}}) }}
    <div class="card card-preview">
        <div class="card-inner">
            <div class="preview-block">
                <span class="preview-title-lg overline-title">Add price</span>
                <div class="row gy-4">
                    <div class="col-sm-12">
                        <div class="form-group">
                            <label class="form-label" for="default-1-02">Product name</label>
                            <input class="form-control" value="{{ product.name }}" disabled>
                        </div>
                    </div>
                    <div class="col-sm-12">
                        <div class="form-group">
                            <label class="form-label">Size</label>
                            <div class="form-control-wrap">
                                {{ form_widget(form.size, { 'attr': {'class': 'form-select form-control form-control-lg'}} ) }}
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-12">
                        <div class="form-group">
                            <label class="form-label">Price</label>
                            <div class="form-control-wrap">
                                {{ form_widget(form.price, { 'attr': {'class': 'form-control'}} ) }}
                                {% if form_errors(form.price) %}
                                    <div class="alert alert-danger alert-icon">
                                        <span>{{ form_errors(form.price) }}</span>
                                    </div>
                                {% endif %}
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-12">
                        <button class="btn btn-primary">{{ button_label|default('Save') }}</button>
                    </div>
                </div>
            </div>
        </div>
    </div><!-- .card-preview -->
    {{ form_end(form) }}
{% endblock %}
