{% extends 'product/layout.html.twig' %}

{% block title %} Add new product {% endblock %}

{% block content %}
    <div class="row">
        <div class="main-column">
        {{ form_start(form) }}
            <div class="col-sm-12">
                <div class="form-group">
                    <label class="form-label" for="default-1-02">Name</label>
                    {{ form_widget(form.name, { 'attr': {'class': 'form-input form-control form-control-lg'}}) }}
                    {{ form_errors(form.name) }}
                </div>
            </div>
    
            <div class="col-sm-12">
                <div class="form-group">
                    <label class="form-label" for="default-1-02">Discription</label>
                    {{ form_widget(form.description, { 'attr': {'class': 'form-text form-control form-control-lg'}}) }}
                    {{ form_errors(form.description) }}
                </div>
            </div>

            <div class="col-sm-12">
                <div class="form-group">
                    <label class="form-label" for="default-1-02">Image</label>
                    {{ form_widget(form.image, { 'attr': {'class': 'form-input form-control-file form-control-lg'}}) }}
                    {{ form_errors(form.image) }}
                </div>
            </div>

            <div class="col-sm-12">
                <div class="form-group">
                    <label class="form-label" for="default-1-02">Category</label>
                    {{ form_widget(form.category, { 'attr': {'class': 'form-select form-control form-control-lg'}}) }}
                    {{ form_errors(form.category) }}
                </div>
            </div>
            <br>
            <div class="col-sm-12">
                <button class="btn btn-primary" type="submit">Save</button>
            </div>
        </div>
        {{ form_end(form) }}

        <div class="column">
            <img id="loadImage" src="" alt="Your product image" style="display: none">
        </div>
    </div>
{% endblock %}
